*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img{
    max-width: 100%;
    height: auto;
}

/* stylling the nav component */

nav{
    height: 5%;
    padding: 5px 0;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    font-weight: 700;
    color:#0073FF;
    font-size: larger;
}

.nav-ul {
    display: flex;
}

.nav-ul li{
    list-style: none;
    padding: 0 1em;
    font-weight: 400;
    color:#5C5C5C;
}


.nav-ul li:hover:not(:last-child){
    border-bottom: 3px solid #0073FF;
}

.nav-get-started-btn>button{
    background: #0073FF;
    color: #FFFFFF;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    font-weight: 400;
}

header{
    border: 1px solid #0073FF;
    height: 25%;
    padding: 0 2em;
    background: #0073FF;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.get-personal-tutor{
    border: 1px solid #0073FF;
    height: 75%;
    max-width: 75%;
    width: 70%;
}

.get-personal-tutor h1{
    color: #FFFFFF;
    font-weight: 700;
    line-height: 70px;
    font-size: 50px;
    margin-bottom: 10px;
}

.get-personal-tutor p{
    color: #FFFFFF;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 25px;
}

.get-personal-tutor button{
    margin-top: 5px;
    width: 100px;
    height: 30px;
    background: #FFFFFF;
    color: #0073FF;
    border-radius: 10px;
}

.header-img img{
    border: 1px solid #0073FF;
    width: 75%;
    height: 75%;
}

.designed-to-meet-needs{
    position: absolute;
    border: 3px solid #FFFFFF;
    border-radius: 25px;
    box-shadow: 0 0 10px #808080;
    padding: 1em;
    background: #FFFFFF;
    bottom: 20%;
    width: 50%;
    height: 20%;
    z-index: 5;
}

.designed-to-meet-needs>h5{
    text-align: center;
    color: #0073FF;
}

.designed-to-meet-needs>ul{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.designed-to-meet-needs>ul li{
    color: #0073FF;
    font-size: 20px;
}

.designed-to-meet-needs>ul li::marker{
    color: #F9B725;
}

/* stylling the whychooseUs components */

section{
    background: #FFFFFF;
}

.why-choose-us{
    border: 1px solid #FFFFFF;
    padding: 0 10rem;
    margin-top: 7rem;
    display: flex;
    justify-content: space-around;
}

.why-choose-us>div>img{
    border: 1px solid #FFFFFF;
    width: 75%;
    height: 75%;
}

.why-choose-us-description{
    border: 1px solid #FFFFFF;
    width: 25%;
    height: 75%;
}

.why-choose-us-description>h6{
    margin: 1em 0;
    font-weight: 900;
    line-height: 20px;
    font-size: 20px;
    color: #0073FF;
}

.why-choose-us-description>p{
    font-weight: 400;
    color: #5C5C5C;
    font-size: 15px;
    line-height: 15px;
}

.why-choose-us-description>button{
    color: #FFFFFF;
    background: #0073FF;
    width: 100px;
    height: 35px;
    font-weight: 400;
    margin-top: 2em;
    border-radius: 15px;
    padding: 3px;
}

section>h3{
    margin-bottom: 3rem;
    text-align: center;
    color: #0073FF;
    font-weight: 700;
    font-size: 30px;
}

.why-chooseUs-vector{
    border: 1px solid #FFFFFF;
    width: 70%;
    margin: 3rem 7rem;
    margin: auto;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.why-chooseUs-vector div>img{
    width: 35%;
    /* margin: auto; */
}


.why-chooseUs-vector div{
    border: 1px solid #EBF4FF;
    border-radius: 40px;
    width: 75%;
    height: 200px;
    background: #EBF4FF;
    padding: 50px;
}

.why-chooseUs-vector div>h4{
    text-align: center;
    font-size: 75%;
    color: #0073FF;
    font-weight: 500;
    margin-top: 5%;
}

.box{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.why-chooseUs-vector>div:hover{
    border: 2px solid #0073FF;
}


/* styling the programmes.js components */

.programmes-component{
    width: 70%;
    margin: 3rem 7rem;
    margin: auto;
    border: 1px solid #FFFFFF;
    display: flex;
    flex-direction: column;
}

.programmes-component h2{
    margin-top: 3rem;
    text-align: center;
    color: #0073FF;
    font-weight: 700;
    font-size: 30px;
}

.programmes-component-card{
    display: flex;
    justify-content: space-around;
}

.programmes-card{
    position: relative;
    border: 1px solid #FFFFFF;
    border-radius: 25px;
    box-shadow: 0 0 10px #808080;
    background-color: #FFFFFF;
    margin: 2rem 0;
    width: 25%;
    padding: 5%;
}

.programmes-card:hover{
    border: 2px solid #0073FF;
}

.programmes-card>h4{
    text-align: center;
    color: #0073FF;
    font-weight: 700;
    margin: 5% 0;
    font-size: 100%;
}

.programmes-card>p{
    text-align: center;
    font-size: 100%;
    font-weight: 500;
    color: #808489;
}

.golden-mark{
    position: absolute;
    border: 1px solid #F9B725;
    border-radius: 10rem 10rem 0 0  ;
    background: #F9B725;
    width: 5rem;
    height: 2rem;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


/* stylling the testimonia componnents */

.testimonial-component{
    border: 1px solid #FFFFFF;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}

.testimonial-component>h3{
    text-align: center;
    font-size: 100%;
    color: #0073FF;
    font-weight: 700;
    margin: 5% 0;
}

.testimonial-card-component{
    display: flex;
    justify-content: space-between;
}

.testimonial-card{
    position: relative;
    border: 1px solid #FFFFFF;
    border-radius: 25px;
    box-shadow: 0 0 10px #808080;
    background-color: #FFFFFF;
    margin: 2rem 0;
    width: 20%;
    max-height: 25%;
    padding: 3%;
}

.testimonial-card p{
    font-size: 50%;
    font-weight: 400;
    color: #5C5C5C;
}


/* stylling the pricing components */

.pricing-component{
    border: 1px solid #FFFFFF;
    margin: 3rem 3rem;
    display: flex;
    justify-content: space-around;
}

.our-pricing-plans{
    width: 25%;
    border: 1px solid #FFFFFF;
    margin-right: 2rem;
    margin-top: 5rem;
}

.our-pricing-plans>h3{
    font-size: 2rem;
    font-weight: 900;
    color: #0073FF;
}

.our-pricing-plans>p{
    margin: 1rem 0; 
    font-size: 1rem;
    font-weight: 400;
    color: #5C5C5C;
}

.our-pricing-plans>button{
    color: #FFFFFF;
    background: #0073FF;
    width: 100px;
    height: 35px;
    font-weight: 400;
    border-radius: 15px;
    padding: 3px;
}

.pricing-amount{
    position: relative;
    border: 1px solid #FFFFFF;
    box-shadow: 0 0 10px grey;
    padding: 2rem;
    width: 25%;
    background-color: #FFFFFF;
}

.pricing-amount>h5{
    font-weight: 400;
    color: #5C5C5C;
    margin-bottom: 1rem;
    font-size: 1.5em;
}


.pricing-amount>div{
    font-size: 3rem;
    font-weight: 900;
    color: #0073FF;
    text-align: center;
}

.date{
    font-size: 20px;
    color: #5C5C5C;
    font-weight: 500;
    margin-top: 0;
}

.pricing-amount>p{
    margin: 1em 0;
    font-weight:400;
    color: #5C5C5C;
    text-align: center;
}

.pricing-amount>ul>li{
    padding: 8px 0;
    font-weight: 400;
    color: #5C5C5C;
}

.pricing-amount>ul>li::marker{
    color: #0073FF;
}
/* 
.pricing-golden-mark{
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50% 0% 0% 50%;
    background-color: #F9B725;
    height: 50px;
    width: 100%;
} */


/* stylling the footer */

footer{
    width: 100%;
    padding: 2rem;
    background-color: #0073FF;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.footer-div{
    width: 25%;
}

footer h6{
    margin-bottom: 2em;
    font-weight: 700;
}

footer ul li{
    list-style: none;
}

.copywrite{
    margin-top: 2em;
}